# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/

# Flask / SQLAlchemy
instance/
*.db
*.sqlite
*.sqlite3
migrations/s
lichess_db_puzzle.csv
./lichess_db_puzzle.csv


# Environment variables
.env
.env.*
!.env.example

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/
*.cover

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# klinbzt
TODO